@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
:root {
  --transition-all: all 0.3s ease;
  --Primary-lightblue---1: #1dabd9;
  --Primary-lightblue---2: #4abce1;
  --Primary-lightblue---3: #77cde8;
  --Primary-lightblue---4: #bbe6f4;
  --Primary-lightblue---5: #e8f7fb;
  --Primary-dark-blue--1: #113668;
  --Primary-dark-blue--2: #315484;
  --Primary-dark-blue--3: #50729f;
  --Primary-dark-blue--4: #708fbb;
  --Primary-dark-blue--5: #8fadd6;
  --Neutral-Colors-White: #fff;
}
::-webkit-scrollbar {
  width: 0.7rem; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #569ade;
  /*Yourchosencolorforthescrollbarthumb*/
  border-radius: 10px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a69a8; /* Change color on hover */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Merriweather;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
i {
  transform: scale(0.75);
}
/* -----------------------header------------------------ */
.button_hidde {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-container {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 15.75rem;
  align-items: center;
  width: 100%;
  background: #ffffff;
  height: 5rem;
  box-shadow: 0rem 2.4375rem 5.3125rem 0rem rgba(73, 72, 72, 0.07);
}
.header-title {
  color: var(--Primary-dark-blue--1, #113668);
  font-size: 1.89rem;
  font-style: normal;
  font-weight: 700; /* 45.513px */
  text-align: start;
}
.header-sous-title {
  color: var(--Primary-lightblue---1, #1dabd9);
  text-align: center;
  font-family: Poppins;
  font-size: 0.669rem;
  font-style: normal;
  text-align: start;
  margin: -0.4rem 0 0 0.2rem;
}
.header-logo {
  display: flex;
  gap: 6.247px;
  flex-direction: column;
  vertical-align: middle;
  margin-top: 0.2rem;
}

.header-section {
  display: flex;
  gap: 0.4rem;
}
/* @media screen and(min-width:768px) { */
/* .section-nav { */
/* display: block; */
/* } */
/* } */
.header-container .section-nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.bars {
  font-size: 1.75rem;
  color: #113668;
  cursor: pointer;
  display: none;
}

.header-container .section-nav ul li {
  list-style-type: none;
}
.header-container .section-nav ul a {
  color: var(--Primary-dark-blue--2, #315484);
  font-family: Merriweather;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--transition-all);
  position: relative;
}
.header-container .section-nav ul a:hover {
  color: #0a2549;
}
.rotate {
  transform: rotate(-180deg) scale(0.75);
  transition: var(--transition-all);
}
.fa-angle-up {
  transition: var(--transition-all);
}
#semini {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#semini li:hover {
  border-radius: 0.25rem;
  background: var(--Primary-lightblue---4, #bbe6f4);
  transition: var(--transition-all);
}

#semini > ul {
  display: none;
  background: #fff;
  width: 100%;
  margin-left: 0.4rem;
  transition: var(--transition-all);
  animation: fade 0.5s ease alternate;
}
@keyframes fade {
  0% {
    opacity: 0;
    max-height: 0;
    transition: var(--transition-all);
  }
  100% {
    opacity: 1;
    max-height: 31.25rem;
    transition: var(--transition-all);
  }
}

#semini:hover ul {
  display: block;
}
#semini > ul a li {
  color: var(--Primary-dark-blue--2, #315484);
  font-family: Merriweather;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  display: flex;
  padding: 0.25rem 1rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  position: relative;
}
#semini > ul a li::after {
  content: url("../svg/navbar2.svg");
  position: absolute;
  transform: scale(0) translate(50%, -50%);
  margin-right: 5rem;
  transition: var(--transition-all);
}
#semini ul a li:hover::after {
  transform: scale(1) translateX(0.5rem);
}
#semini > li label {
  width: 100%;
  color: var(--Primary-dark-blue--2, #315484);
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  position: relative;
}
#semini > li label::after {
  content: url("../svg/navbar.svg");
  position: absolute;
  transition: var(--transition-all);
  right: 0.92075rem;
  top: 0.6875rem;
  transform: scale(0);
}
#semini > li label:hover::after {
  transform: scale(1) rotate(90deg);
}

.show {
  display: none;
}
.show-style {
  position: absolute;
  padding: 0.6rem;
  overflow: hidden;
  width: 18rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0rem 1rem 0rem 0rem;
  background: #fff;
  /* margin-top: 3rem; */
}
.show-style a li {
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  align-items: flex-start;
  gap: 0.625rem;
  width: 100%;
  position: relative;
}
.show-style a li::after {
  content: url("../svg/navbar.svg");
  position: absolute;
  right: 2rem;
  transform: scale(0);
  transition: var(--transition-all);
}
.show-style a li:hover::after {
  transform: scale(1) translateX(0.5rem);
}

.show-style a li:hover {
  border-radius: 0.25rem;
  background: var(--Primary-lightblue---4, #bbe6f4);
  transition: var(--transition-all);
}
.drop-down {
  color: #315484;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition-all);
}
.drop-down:hover {
  color: #0a2549;
}
.bars {
  display: none;
}
/* ===========================================Hero Section ====================================== */
.hero-section-container {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 6rem auto 0 auto;
  padding: 6rem;
}

.hero-section {
  background: linear-gradient(to bottom, #00000017, #faf5f5d5, #ffffff),
    url("../picture/aboutHeroSection.png");
  width: 66.75rem; /* Fixed width for larger screens */
  height: 32.875rem; /* Fixed height for larger screens */
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover; /* Change to cover for better responsiveness */
  border-radius: 0.4rem;
  display: grid;
  place-items: end;
  justify-content: center;
}

.hero-section .hero-title {
  color: #113668;
  text-align: center;
  font-size: 3rem; /* Large font size for larger screens */
  font-weight: 700;
  line-height: normal;
  margin-bottom: -1rem;
}

.here-p-container {
  padding: 2rem;
}

.hero-section .hero-section-p {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem; /* Base font size */
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
}

.hero-section-child {
  display: flex;
  flex-direction: column;
}

/* Media Queries for Responsiveness */

/* ===================================== About-sous-hero-section======================================== */
.main-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.main-child {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-container {
  display: flex;
  padding: 0rem 0.5rem 6rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}
.main-sous-hero {
  display: flex;
  width: 66.75rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
.main-sous-hero article {
  width: 32.5rem;
  height: 23.4375rem;
}
.main-sous-hero .article1 {
  background: url("../picture/aboutSousHero.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-sous-hero .article2 {
  display: grid;
  place-items: center;
  color: var(--Primary-dark-blue--3, #50729f);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  justify-content: center;
  position: relative;
  align-self: stretch;
}
.main-sous-hero .article__1 {
  background: url("../picture/aboutSousHero2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-sous-hero .article2 span {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  gap: 0.4rem;
  margin: 9rem 0 0 0;
  color: var(--Primary-lightblue---1, #1dabd9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-sous-hero .article2 span i {
  vertical-align: middle;
}
.notre-mession {
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 768px) {
}
/* .main-child { */
/* flex-direction: row; */
/* } */
/* .main-sous-hero { */
/* flex-direction: column; */
/* gap: 0; */
/* width: 100%; */
/* } */
/* .main-sous-hero .article1 { */
/* justify-self: center; */
/* align-self: center; */
/* } */
/* .main-container { */
/* justify-content: center; */
/* align-self: center; */
/* } */
/* .main-sous-hero article { */
/* width: 100%; */
/* justify-self: center; */
/* } */
/* .main-sous-hero .article2 { */
/* justify-self: unset; */
/* } */
/* } */
/* ==================================================Organigramme  Section============================================ */
.organigramme__parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.organigramme__container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  height: auto;
  row-gap: 2rem;
}
.organigramme__container .organigramme__section {
  position: relative;
  display: flex;
  width: 39.25rem;
  padding: 2rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Primary-lightblue---5, #e8f7fb);
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-family: Merriweather;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  transition: var(--transition-all);
  cursor: pointer;
}
.organigramme__section:hover {
  background: var(--Primary-lightblue---4, #bbe6f4);
  box-shadow: 0rem 2.4375rem 5.3125rem 0rem rgba(0, 0, 0, 0.08);
}
.organigramme__container .organigramme__section::before {
  content: url("../svg/group-arrow.svg");
  position: absolute;
  border-radius: 50%;
  background: var(--Primary-lightblue---1, #1dabd9);
  box-shadow: 0rem 0.25rem 0.8562rem 0rem rgba(29, 171, 217, 0.34);
  right: 17.9375rem;
  bottom: -1.625rem;
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  /* justify-self: center; */
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  /* align-self: center; */
}
.organigramme__section:last-child::before {
  content: none;
}
/* ================================================== Notre__Équipe ============================================= */
.team-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}
.team-child {
  display: flex;
  width: 66.75rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}
.membre-parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.membre__title {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 37.8px */
}
.member-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 1.69rem;
  row-gap: 1.69rem;
}
.member-container .membre__section {
  display: flex;
  width: 21.125rem;
  border-radius: 0.5rem;
  background: var(--Primary-lightblue---5, #e8f7fb);
  height: 8.125rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  transition: var(--transition-all);
  cursor: pointer;
}
.membre__section:hover {
  background: var(--Primary-lightblue---4, #bbe6f4);
  box-shadow: 0rem 2.4375rem 5.3125rem 0rem rgba(0, 0, 0, 0.08);
}
.membre__section .member__p {
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-family: Merriweather;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  align-self: stretch;
}
.member__sous__p {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  align-self: stretch;
}
.doctor__last {
  transform: translateX(109%);
}
/* =======================================footer================================================== */
footer {
  display: flex;
  width: 100%;
  height: 21.25rem;
  padding: 4.0625rem 4.5rem 6rem 4.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--Primary-dark-blue--1);
  position: relative;
  margin-top: 6rem;
  max-width: 1300px; /* or any suitable value */
  margin: 6rem auto 0 auto; /* centers the footer */
}
footer hr {
  position: absolute;
  top: 11.21875rem;
  width: 95%;
  height: 0.00125rem;
  background: #fff;
}
.footer__parent {
  display: flex;
  width: 66.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}
.footer__part1 {
  display: flex;
  height: 4.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: -0.58225rem;
  flex: 1 0 0;
  margin-left: 3rem;
}
.footer__part1 .footer__title {
  color: var(--Neutral-Colors-White);
  align-self: stretch;
  font-family: Merriweather;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}
.footer__title::before {
  content: url("../picture/footerVector.png");
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -2.7rem;
}
.footer__part1 .footer__sous__title {
  color: #fff;
  width: 8.0625rem;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.footer__part2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer__copyright {
  color: var(--Neutral-Colors-White);
  text-align: center;
  font-family: Merriweather;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social__icon {
  display: flex;
  width: 8.75rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.fa-arrow-up {
  position: fixed;
  padding: 0.4rem;
  background: var(--Primary-lightblue---2);
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  transition: var(--transition-all);
}
