@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
:root {
  --transition-all: all 0.3s ease;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Merriweather;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
i {
  transform: scale(0.75);
}
/* -----------------------header------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: #50729f;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.header-container {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #ffffff;
  height: 5rem;
  box-shadow: 0rem 2.4375rem 5.3125rem 0rem rgba(73, 72, 72, 0.07);
}
.header-title {
  color: var(--Primary-dark-blue--1, #113668);
  font-size: 1.89rem;
  font-style: normal;
  font-weight: 700; /* 45.513px */
  text-align: start;
}
.header-sous-title {
  color: var(--Primary-lightblue---1, #1dabd9);
  text-align: center;
  font-family: Poppins;
  font-size: 0.669rem;
  font-style: normal;
  text-align: start;
  margin: -0.4rem 0 0 0.2rem;
}
.header-logo {
  display: flex;
  gap: 6.247px;
  flex-direction: column;
  vertical-align: middle;
  margin-top: 0.2rem;
}
.header-section {
  display: flex;
  gap: 0.4rem;
}

.header-container .section-nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.header-container .section-nav ul li {
  list-style-type: none;
}
.header-container .section-nav ul a {
  color: var(--Primary-dark-blue--2, #315484);
  font-family: Merriweather;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--transition-all);
}
.header-container .section-nav ul a:hover {
  color: #0a2549;
}
.rotate {
  transform: rotate(-180deg) scale(0.75);
  transition: var(--transition-all);
}
.fa-angle-up {
  transition: var(--transition-all);
}
#semini {
  display: flex;
  width: 14.1875rem;
  padding-left: 1.25rem;
  flex-direction: column;
  align-items: center;
}

#semini ul {
  display: none;
  background: #fff;
}

#semini:hover ul {
  display: block;
}
#semini a li {
  color: var(--Primary-dark-blue--2, #315484);
  /* Labale small */
  font-family: Merriweather;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#semini > li {
  display: flex;
  padding: 0.625rem;
  gap: 0.625rem;
  align-items: center;
  text-align: start;
  justify-content: center;
  width: 25rem;
  color: var(--Primary-dark-blue--2, #315484);
}
#semini > li label {
  cursor: pointer;
}
#semini > li label:hover {
  color: #fff;
}

#semini li:hover {
  background-color: #113668;
  color: #fff;
  transition: var(--transition-all);
}
.container-drop {
  position: relative;
}
.show {
  display: none;
}
.show-style {
  position: absolute;
  overflow: hidden;
  width: 17.1875rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0rem 1rem 0rem 0rem;
  background: #fff;
  margin-top: 1.3rem;
}
.show-style a li {
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}
.show-style a li:hover {
  background-color: #113668;
  color: #fff;
  transition: var(--transition-all);
}
.drop-down {
  color: #315484;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition-all);
}
.drop-down:hover {
  color: #0a2549;
}

/* ===========================================Hero Section ====================================== */
.hero-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin-top: 10rem;
}
.hero-section {
  background: linear-gradient(to bottom, #00000017, #faf5f5d5, #ffffff),
    url("../picture/aboutHeroSection.png");
  width: 66.75rem;
  height: 32.875rem;
  flex-shrink: 0;
  background-position: center;
  background-size: 100%;
  border-radius: 0.4rem;
  background-repeat: no-repeat;
}
.hero-section .hero-title {
  color: #113668;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -1rem;
}
.here-p-container {
  padding: 2rem;
}
.hero-section .hero-section-p {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
}
.hero-section-child {
  display: flex;
  flex-direction: column;
}
.hero-section {
  display: grid;
  place-items: end;
  justify-content: center;
}
/* ===================================== About-sous-hero-section======================================== */
.main-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.main-child {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-container {
  display: flex;
  padding: 0rem 0.5rem 6rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}
.main-sous-hero {
  display: flex;
  width: 66.75rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.main-sous-hero article {
  width: 32.5rem;
  height: 23.4375rem;
}
.main-sous-hero .article1 {
  background: url("../picture/aboutSousHero.png");
  background-size: 100%;

  background-repeat: no-repeat;
}
.main-sous-hero .article2 {
  display: grid;
  place-items: center;
  color: var(--Primary-dark-blue--3, #50729f);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  justify-content: center;
  position: relative;
  align-self: stretch;
}
.main-sous-hero .article__1 {
  background: url("../picture/aboutSousHero2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-sous-hero .article2 span {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  gap: 0.4rem;
  margin: 9rem 0 0 0;
  color: var(--Primary-lightblue---1, #1dabd9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-sous-hero .article2 span i {
  vertical-align: middle;
}
.notre-mession {
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* ==================================================Organigramme  Section============================================ */
.organigramme__parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.organigramme__container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  height: auto;
  row-gap: 2rem;
}
.organigramme__container .organigramme__section {
  position: relative;
  display: flex;
  width: 39.25rem;
  padding: 2rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Primary-lightblue---5, #e8f7fb);
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-family: Merriweather;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  transition: var(--transition-all);
  cursor: pointer;
}
.organigramme__section:hover {
  background: var(--Primary-lightblue---4, #bbe6f4);
  box-shadow: 0rem 2.4375rem 5.3125rem 0rem rgba(0, 0, 0, 0.08);
}
.organigramme__container .organigramme__section::before {
  content: url("../svg/group-arrow.svg");
  position: absolute;
  border-radius: 50%;
  background: var(--Primary-lightblue---1, #1dabd9);
  box-shadow: 0rem 0.25rem 0.8562rem 0rem rgba(29, 171, 217, 0.34);
  right: 17.9375rem;
  bottom: -1.625rem;
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.organigramme__section:last-child::before {
  content: none;
}
/* ================================================== Notre__Équipe ============================================= */
.team-container {
  display: flex;
  width: 90rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}
.team-child {
  display: flex;
  width: 66.75rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}
.membre-parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.membre__title {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 37.8px */
}
.member-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 1.69rem;
  row-gap: 1.69rem;
}
.member-container .membre__section {
  display: flex;
  width: 21.125rem;
  border-radius: 0.5rem;
  background: var(--Primary-lightblue---5, #e8f7fb);
  height: 8.125rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  transition: var(--transition-all);
  cursor: pointer;
}
.membre__section:hover {
  background: var(--Primary-lightblue---4, #bbe6f4);
  box-shadow: 0rem 2.4375rem 5.3125rem 0rem rgba(0, 0, 0, 0.08);
}
.membre__section .member__p {
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-family: Merriweather;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  align-self: stretch;
}
.member__sous__p {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  align-self: stretch;
}
.doctor__last {
  transform: translateX(109%);
}
/* =======================================footer================================================== */
footer {
  margin-top: 6rem;
  width: 100%;
  bottom: 0;
  height: 18em;
  background: #113668;
  padding-inline: 4rem;
  padding-block: 5rem;
}
.footer-title,
.footer-sous-title {
  color: white;
}
.footer-title {
  font-size: 1.89rem;
  font-style: normal;
  font-weight: 700; /* 45.513px */
  text-align: start;
}
.footer-sous-title {
  font-family: Poppins;
  font-size: 0.669rem;
  font-style: normal;
  margin-top: -0.4rem;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.3rem;
}
.a__icon {
  display: flex;
  gap: 0.9rem;
  justify-content: center;
  align-items: center;
}
.a__icon a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.copyright {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fa-arrow-up {
  position: fixed;
  padding: 0.4rem;
  background: #79a8d8;
  color: hsl(0, 3%, 12%);
  border-radius: 50%;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
