@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Merriweather;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* -----------------------header------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
i {
  transform: scale(0.75);
}
.header-container {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #ffffff;
  height: 5rem;
  box-shadow: 0px 39px 85px 0px rgba(73, 72, 72, 0.07);
}
.header-title {
  color: var(--Primary-dark-blue--1, #113668);
  font-size: 1.89rem;
  font-style: normal;
  font-weight: 700; /* 45.513px */
  text-align: start;
}
.header-sous-title {
  color: var(--Primary-lightblue---1, #1dabd9);
  text-align: center;
  font-family: Poppins;
  font-size: 0.669rem;
  font-style: normal;
  text-align: start;
  margin: -0.4rem 0 0 0.2rem;
}
.header-logo {
  display: flex;
  gap: 6.247px;
  flex-direction: column;
  vertical-align: middle;
  margin-top: 0.2rem;
}
.header-section {
  display: flex;
  gap: 0.4rem;
}

.header-container .section-nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.header-container .section-nav ul li {
  list-style-type: none;
}
.header-container .section-nav ul a {
  color: var(--Primary-dark-blue--2, #315484);

  /* Label */
  font-family: Merriweather;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rotate {
  transform: rotate(-180deg) scale(0.75);
  transition: all 0.3s ease;
}
.fa-angle-up {
  transition: all 0.3s ease;
}
#semini {
  display: flex;
  width: 14.1875rem;
  padding-left: 1.25rem;
  flex-direction: column;
  align-items: center;
}

#semini ul {
  display: none;
  background: #fff;
}

#semini:hover ul {
  display: block;
}
#semini a li {
  color: var(--Primary-dark-blue--2, #315484);
  /* Labale small */
  font-family: Merriweather;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#semini > li {
  display: flex;
  padding: 0.625rem;
  gap: 0.625rem;
  align-items: center;
  text-align: start;
  justify-content: center;
  width: 25rem;
  color: var(--Primary-dark-blue--2, #315484);
}
#semini > li label {
  cursor: pointer;
}
#semini > li label:hover {
  color: #fff;
}

#semini li:hover {
  background-color: #113668;
  color: #fff;
  transition: all 0.4s linear;
}
.container-drop {
  position: relative;
}

.show {
  display: none;
}
.show-style {
  position: absolute;
  overflow: hidden;
  width: 17.1875rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0rem 1rem 0rem 0rem;
  background: #fff;
  margin-top: 1.3rem;
}
.show-style a li {
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}
.show-style a li:hover {
  background-color: #113668;
  color: #fff;
  transition: all 0.4s linear;
}
.drop-down {
  color: #50729f;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* ===========================================Hero Section ====================================== */
.hero-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
}
.hero-section {
  background: linear-gradient(to bottom, #00000017, #faf5f5d5, #ffffff),
    url("../picture/colloquesHeroSection.png");
  width: 66.75rem;
  height: 32.875rem;
  flex-shrink: 0;
  background-position: center;
  background-size: 100%;
  border-radius: 0.4rem;
}
.hero-section .hero-title {
  color: #113668;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-section .hero-section-description {
  color: #113668;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.hero-section .hero-section-p {
  color: var(--Primary-dark-blue--3, #50729f);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.hero-section .hero-section-button {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Primary-lightblue---1, #1dabd9);
  color: var(--Neutral-Colors-White, #fff);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  position: relative;
  margin: 0 auto;
  transition: all 0.3s linear;
}
.hero-section-button:hover {
  background: #0755a8;
  letter-spacing: 1px;
}
.hero-section-button i {
  transition: all 0.3s linear;
}
.hero-section-button:hover i {
  transform: translateX(0.5rem);
}
.hero-section {
  display: grid;
  place-items: end;
  justify-content: center;
}
/* ===================================== About-sous-hero-section======================================== */
.Evenement-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.25rem;
  margin-top: 4rem;
}
.Evenement-h2 {
  color: var(--Primary-dark-blue--1, #113668);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Evenement-picture img {
  border-radius: 0.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Evenement-section .Evenement-description {
  width: 17.459375rem;
  height: 24.734375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Evenement-description .E-d-1 {
  color: var(--Primary-dark-blue--3, #50729f);

  /* Small-med-500 */
  font-family: Poppins;
  font-size: 0.833125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Evenement-description .E-d-2 {
  color: var(--Primary-dark-blue--1, #113668);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  width: max-content; /* 37.8px */
}
.Evenement-description .E-d-3 {
  color: var(--Primary-dark-blue--2, #315484);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.Evenement-description .E-section1 {
  margin-bottom: -12.2rem;
}

.Evenement-description .E-btn a {
  color: var(--Primary-lightblue---1, #1dabd9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.E-btn a:hover {
  color: #7fcee9;
}
.E-btn a:hover i {
  transform: translate(0.2rem) scale(0.75);
}
.Evenement-description .E-btn i {
  vertical-align: middle;
  margin-left: 0.3rem;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
/* ===================================================footer===================================== */
footer {
  width: 100%;
  bottom: 0;
  height: 18em;
  background: #113668;
  padding-inline: 4rem;
  padding-block: 5rem;
  margin-top: 6rem;
}
.footer-title,
.footer-sous-title {
  color: white;
}
.footer-title {
  font-size: 1.89rem;
  font-style: normal;
  font-weight: 700; /* 45.513px */
  text-align: start;
}
.footer-sous-title {
  font-family: Poppins;
  font-size: 0.669rem;
  font-style: normal;
  margin-top: -0.4rem;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.3rem;
}
.a__icon {
  display: flex;
  gap: 0.9rem;
  justify-content: center;
  align-items: center;
}
.a__icon a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.copyright {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fa-arrow-up {
  position: fixed;
  padding: 0.4rem;
  background: #79a8d8;
  color: hsl(0, 3%, 12%);
  border-radius: 50%;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
/* ===================================swiper ============================================= */
.swiper {
  width: 800px;
  height: auto;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #eeeeee;
  padding: 3rem;
}

.swiper-button-next {
  color: black;
}

.swiper-button-prev {
  color: black;
}

.swiper-pagination {
  /* background: #3982a7; */
  color: rgb(0, 0, 0);
}
